{
    "version" : "2017-02-28",
    "operation" : "Query",
    "index" : "room-by-owner-id",
    "query" : {
      "expression": "ownerId = :ownerId",
      "expressionValues" : {
        ":ownerId" : $util.dynamodb.toDynamoDBJson($ctx.args.ownerId)
      }
    }
}